/*
#5c4f82 - rgba(92,79,130,255)
#4d426d - rgba(77,66,109,255) koyu mor
#efa985 - rgba(239,169,133,255) turuncu
#f1991a -241,153,27 turuncu koyu
#e8e5f3 - rgba(232,229,243,255) lila
#424042 - 66,64,66 gri
#3cc6b7 - rgba(60,198,183,255) yeşil
#3ba58b - rgba(59,165,139,255) koyu yeşil
#226bab - rgba(34,107,171,255) mavi
#ffffff - rgba(255,255,255,255)
#cdc9d5 - rgba(205,201,213,255)
*/
.message_root_div {
    flex-direction: column;
    min-height: fit-content;
  }

  .roomuser {
    background: #5c4f82;
    height: 28px;
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;

  }

  .message_component {
    display: flex;
    height: 700px;
    flex-direction:column;
    justify-content: end;
    align-items: center;
    background-color: #322262;

  }
  
  .room_name {
    border-color: #e8e5f3;
    border-width: 1px;
    border-style:ridge;
    font-size: 22px;
    color: rgb(232,229,243);
    background-color: #5c4f82;
    
    
  }
  
  .user_name {
    font-size: 22px;
    border-width: 1px;
    border-style:ridge;
    border-color:#e8e5f3;
    color: rgb(232,229,243);
    background-color: #5c4f82;
    
  }
  
  .message_list {
    height: 50vh;
    width: 100%;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    padding-top:26%;
  }
  
  .message_item_client {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px 70px 5px 5px;
  }
  .message_item_client_self {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 5px 5px 5px 70px;
  }
  .message_item_username {
    display: flex;
    color: #fdfdfd;
    user-select: none;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .message_content_client {
    background-color: rgb(77,66,109,255);
    display: flex;
    padding: 10px;
    font-size: 19px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    align-items: flex-end;
    color: white;
  }
  
  .message_content_value {
    display: flex;
    width: 100%;
    text-align: start;
  }
  
  .message_content_client_self {
    background-color: rgb(239,169,133);
    display: flex;
    padding: 10px;
    font-size: 19px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    align-items: flex-end;
    color: white;
    font-style: normal;
  }

  .message_item_server {
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  
  .message_content_server {
    background-color: rgb(66, 66, 66);
    display: flex;
    padding: 10px;
    font-size: 19px;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-end;
    color: white;
  }
  
  .chat-input {
    flex: 0 0 auto;
    height: 70px;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  }
  .chat-input input {
    margin: 5px 20px 5px 20px;
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 100px);
    color: rgb(66,64,66);
    text-indent: 10px;
    font-size: 12pt;
    padding-left: 16px;
    background: #ffffff;
  }
  
  .chat-input ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(168, 168, 168);
    opacity: 1; /* Firefox */
  }
  
  .chat-input :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(168, 168, 168);
  }
  
  .chat-input ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(168, 168, 168);
  }
  
  .chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgb(60,198,183);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 15px 15px 0px 0px;
    transition: all 0.15s ease-in-out;
  }
  .chat-input input[good] + button {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    background: #2d21ae;
  }
  .chat-input input[good] + button:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .chat-input input[good] + button path {
    fill: white;
  }